.wc-chart-wrap .wc-chart {
  position: relative;
  width: 100%;
  color: #ffffff;
}
.wc-chart-wrap .wc-chart .wc-label {
  font-size: 10px;
}
.wc-chart-wrap .wc-chart .wc-house {
  width: 100%;
  margin-bottom: 20px;
}
.wc-chart-wrap .wc-chart .position {
  background-color: #ffffff;
  height: 30px;
}
.wc-chart-wrap .wc-chart .firmYea {
  background-color: #00944f;
}
.wc-chart-wrap .wc-chart .leanYea {
  background-color: #89c656;
}
.wc-chart-wrap .wc-chart .leanNay {
  background-color: #f36d6c;
}
.wc-chart-wrap .wc-chart .firmNay {
  background-color: #be1c32;
}
.wc-chart-wrap .wc-chart .unknown {
  background-color: #818286;
}
.wc-chart-wrap .wc-chart .wc-line {
  background-color: #ffffff;
  height: 105px;
}
.wc-chart-wrap .wc-chart .wc-line.filibuster {
  top: 55px;
  height: 50px;
  background-color: #68696c;
}
.wc-chart-wrap .wc-legend {
  position: relative;
  font-size: 14px;
}
.wc-chart-wrap .wc-legend .center {
  text-align: center;
}
.wc-chart-wrap .wc-legend .clear {
  clear: both;
}
.wc-chart-wrap .wc-legend .pull-left {
  float: left;
}
.wc-chart-wrap .wc-legend .pull-right {
  float: right;
}
.wc-chart-wrap .wc-legend .fili {
  color: #68696c;
  position: absolute;
  top: 0;
  padding: 0 0 0 58%;
  margin: 0;
}
.wc-chart-wrap .wc-legend .label {
  color: #ffffff;
  font-size: 12px;
  padding-top: 1px;
}
.wc-chart-wrap .wc-legend .firms {
  margin-bottom: 7px;
}
.wc-chart-wrap .wc-legend .box {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
}
.wc-chart-wrap .wc-legend .box.yea {
  background-color: #00944f;
  margin-left: 0;
}
.wc-chart-wrap .wc-legend .box.lean-yea {
  background-color: #89c656;
  margin-left: 0;
}
.wc-chart-wrap .wc-legend .box.lean-nay {
  background-color: #f36d6c;
  margin-right: 0;
}
.wc-chart-wrap .wc-legend .box.nay {
  background-color: #be1c32;
  margin-right: 0;
}
